# Project specific ignores
#
# Add any project specific ignores here.

# OS
#
# Ignore all files that the OS automatically creates in a directory.
.DS_Store

# IDEs
#
# Ignore all files that IDEs automatically create in a directory.
.fleet
.idea
*.iml
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Sensitive
#
# Ignore sensitive files that should not be shared.
*.cer
.env
.env*
!.env.example
*.gpg
*.jks
*.jwks
*.key
*.key.pub
*.keystore
*.p8
*.p12
*.pem
*.pid

# Packages
#
# It's better to unpack these files and commit the raw source
# git has its own built in compression methods.
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.tar.gz
*.zip
*.war
*.nar
*.ear

# Compiled source
*.com
*.class
*.dll
*.exe
*.o
*.so

# Databases
*.csv
*.sqlite
*.sqlite3
