# Project specific ignores
#
# Add any project specific ignores here.

# OS
#
# Ignore all files that the OS automatically creates in a directory.
.DS_Store

# IDEs
#
# Ignore all files that IDEs automatically create in a directory.
.fleet
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Sensitive
#
# Ignore sensitive files that should not be shared.
*.cer
*.env*
*.jks
*.jwks
*.key
*.key.pub
*.p8
*.p12
*.pem
*.pid